/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #4078B2;
    font-family: Arial, sans-serif;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #4a90e2, #9013fe);
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Deck Container */
.deck-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0.5); /* lightgray with 50% opacity */
    margin-top: 50px;
    gap: 10px;
}

/* Individual Deck */
.deck {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(2, 100px);
    border: 1px solid rgba(0, 0, 0, 0.1); /* Light gray border with 10% opacity */
    border-radius: 8px; /* Rounded corners for a softer look */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow to lift the deck off the background */
    margin: 5px;
    justify-content: center;  /* Center the grid horizontally */
    align-content: center;    /* Center the grid vertically */
    background-color: rgba(255, 255, 255, 0.6); /* Light background with 80% opacity */
}

/* Card */
.card {
    width: 70px;
    height: 100px;
    /* background-color: lightgray; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.card img {
    width: 70px;
    height: 84px;
    object-fit: cover;
}

.card p {
    margin: 0;
    padding-top: 2px;
    font-size: 8px;
}

/* Responsive adjustments */
@media screen and (max-width: 1200px) {
    .deck-container {
        justify-content: space-between;
    }

    .deck-container .deck {
        flex-basis: calc(50% - 20px); /* Ensures 2 decks per row */
    }
}

@media screen and (max-width: 768px) {
    .deck-container .deck {
        flex-basis: 100%;
    }
}